<!-- app.component.html -->

<div class="welcome-section">
  <h1>Bem-vindo ao Meu Espaço</h1>
  <a href="http://github.com/Ruandev2" target="_blank" rel="noopener noreferrer">  <img src="./assets/img/perfil/photo.png" alt="Imagem de Perfil" class="profile-image">
  </a>
</div>

<div class="about-section">
  <h2>Sobre Mim</h2>
  <div class="info-box">
    <p>
      Estou atualmente trabalhando como Vigilante, mas estou estudando Análise e Desenvolvimento de Sistemas. 
      Já fiz alguns cursos como 
      <span class="course-tag">#Javascript</span>
      <span class="course-tag">#Html5</span>
      <span class="course-tag">#Css</span>
      <span class="course-tag">#Python</span>. 
      Vou fazer 
      <span class="italic-text">MySQL</span>
      e 
      <span class="italic-text">PHP</span>
      React e Angular Scrum.
    </p>
  </div> 
 
</div>
